* {
  box-sizing: border-box;
}

body {
  font-family: 'verdana';
  font-size: 13px;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0;
}

.container, .sidebar, .main-content {
  height: 100%;
}

.sidebar {
  width: 20%;
  max-width: 280px;
  border-right: 1px solid #ddd; 
  padding: 10px;
  float: left;
  overflow: auto;
}

.main-content {
  padding: 10px;
  float: right;
  overflow-y: auto;
}


